<mat-nav-list>
  <a routerLink="/users/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Users</span>
    <span mat-line>User list</span>
  </a>

  <a routerLink="/posts/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Posts</span>
    <span mat-line>Post list</span>
  </a>

  <a routerLink="/albums/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Albums</span>
    <span mat-line>Album list</span>
  </a>

  <a routerLink="/todos/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Todos</span>
    <span mat-line>Todo list</span>
  </a>
</mat-nav-list>
