<mat-nav-list>
  <a routerLink="/users/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Usuarios</span>
    <span mat-line>Add to a note</span>
  </a>

  <a routerLink="/posts/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Posteos</span>
    <span mat-line>Embed in a document</span>
  </a>

  <a routerLink="/albums/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Albunes</span>
    <span mat-line>Share with your friends</span>
  </a>

  <a routerLink="/todos/list" mat-list-item (click)="openLink($event)">
    <span mat-line>Todos</span>
    <span mat-line>Show to your coworkers</span>
  </a>
</mat-nav-list>
