<h1 class="list-todo__title">Todo list</h1>
<mat-divider></mat-divider>
<div class="list-todo__container">
  <div class="list-todo__filter-content">
    <div class="example-form-field">
      <label>State</label>
      <br />
      <mat-radio-group [(ngModel)]="completedFilter">
        <mat-radio-button class="radios_elemnet" value="">All</mat-radio-button>
        <mat-radio-button class="radios_elemnet" value="completed"
          >Complete</mat-radio-button
        >
        <mat-radio-button class="radios_elemnet" value="noCompleted"
          >Incomplete</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-form-field class="example-form-field">
      <mat-label>Id User</mat-label>
      <input matInput type="number" [(ngModel)]="idUserFilter" />
      <button
        mat-button
        *ngIf="idUserFilter"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="idUserFilter = 0"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <mat-selection-list class="mat-selection-list_1" #shoes [multiple]="false">
    <mat-list-option
      class="mat-selection-list_1"
      *ngFor="
        let todo of listTodo | filterListTodo: completedFilter:idUserFilter
      "
      [value]="todo"
      (click)="handleGoToTodo(todo.id)"
    >
      {{ todo.title }}
    </mat-list-option>
  </mat-selection-list>
</div>
