<app-loading [loading]="loading">
  <mat-selection-list class="user-list__container" #shoes [multiple]="false">
    <mat-list-option
      class="user-list__items"
      *ngFor="let user of userList"
      [value]="user"
    >
      <div class="user-list__content">
        <div class="user-list__element">
          {{ user.name }}
        </div>
        <div class="user-list__element">
          <button
            color="basic"
            mat-mini-fab
            matTooltip="View user"
            class="user-list__button"
            (click)="handleGoToUser(user.id)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            (click)="handleGoToAlbums(user.id)"
            color="basic"
            matTooltip="See albums list"
            mat-mini-fab="user-list__button"
          >
            <mat-icon>album</mat-icon>
          </button>
          <button
            (click)="handleGoToPosts(user.id)"
            color="basic"
            mat-mini-fab
            matTooltip="See posts list"
            class="user-list__button"
          >
            <mat-icon>message</mat-icon>
          </button>
          <button
            (click)="handleGoToTodos(user.id)"
            color="basic"
            mat-mini-fab
            matTooltip="See todos"
            class="user-list__button"
          >
            <mat-icon>fact_check</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</app-loading>
