.modal-container {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.707);
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-content {
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.686);
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  width: fit-content;
  height: fit-content;
}

.button__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  transition: transform 0.5s ease-out;
}
.button__close:hover {
  transform: scale(1.12);
  cursor: pointer;
}
.button__close * {
  background: transparent;
  color: #b03a2e;
}
