<div class="gallery-dashboard__container">
  <h1 class="gallery-dashboard__title">Gallery</h1>
  <mat-divider></mat-divider>
  <div class="gallery-dashboard__element-button">
    <button matTooltip="Back" color="primary" mat-fab (click)="handleGoBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <div *ngIf="loading; else con" class="content-loading">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #con>
    <app-list-photo
      [listPhoto]="listPhoto"
      (showLoading)="showLoading()"
    ></app-list-photo>
  </ng-template>
</div>
