<div class="user-dashboard__container">
  <div class="user-dashboard__content-user-template">
    <div *ngIf="loading; else con" class="content-loading">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #con>
      <app-user-template [user]="myUser"></app-user-template>
    </ng-template>
  </div>
  <mat-divider></mat-divider>
  <div class="user-dashboard__content-button">
    <button mat-fab color="primary" matTooltip="Atras" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
</div>
