* {
  box-sizing: border-box;
}

html {
  height: 100% !important;
}
body {
  min-height: 100% !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.stopScroll {
  overflow: hidden;
}
