.list-photo__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-photo__card {
  width: 250px;
  /* border: solid 1px #808080; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.list-photo__img-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px 0px 15px 0px;
}
.list-photo__img {
  width: 150px;
  display: block;
}
.list-photo__footer {
  margin: 0px auto;
  padding: 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-photo__button {
  display: block;
  flex-grow: 1;
  width: 75px;
  margin: 0px;
  padding: 5px 0px;
  border: none;
  color: rgb(105, 103, 103);
}
.list-photo__button-text {
  margin: 5px;
}
.list-photo__content-zoom-img {
}
.list-photo__zoom-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
