<mat-card class="list-photo__container">
  <mat-card
    class="list-photo__card"
    *ngFor="let photo of listPhoto | filterDeletedPhotos"
  >
    <mat-card-title>
      {{ photo.title }}
    </mat-card-title>
    <mat-card-subtitle>albun id {{ photo.albumId }}</mat-card-subtitle>
    <div class="list-photo__img-content">
      <img
        class="list-photo__img"
        defaultImage="https://i.pinimg.com/170x/61/6f/18/616f18f75ae63011159b272e2e56183f.jpg"
        [alt]="photo.id"
        [lazyLoad]="photo.thumbnailUrl"
      />
    </div>
    <mat-card-footer class="list-photo__footer">
      <button
        class="list-photo__button"
        mat-stroked-button
        (click)="handleSelectPhoto(photo)"
      >
        <mat-icon>visibility</mat-icon>
        <span class="list-photo__button-text">Ver</span>
      </button>
      <button
        class="list-photo__button"
        mat-stroked-button
        (click)="handleDeletePhoto(photo)"
      >
        <mat-icon>delete</mat-icon>
        <span class="list-photo__button-text">Eliminar</span>
      </button>
    </mat-card-footer>
  </mat-card>
  <app-modal>
    <div class="list-photo__content-zoom-img">
      <img
        class="list-photo__zoom-img"
        alt="selectedPhoto"
        srcset="{{selectedPhoto?.url}}"
      />
    </div>
  </app-modal>
</mat-card>
