<div *ngFor="let photo of listPhoto | filterDeletedPhotos">
  <h2>{{ photo.title }}</h2>
  <!-- <img [alt]="photo.title" srcset="{{photo.url}}" /> -->
  <p>albun id {{ photo.albumId }}</p>
  <img
    [defaultImage]="listPhoto[0].thumbnailUrl"
    [alt]="photo.id"
    [lazyLoad]="photo.thumbnailUrl"
  />
  <button (click)="handleSelectPhoto(photo)">ver</button>
  <button (click)="handleDeletePhoto(photo)">Eliminar</button>
</div>
<app-modal>
  <div>
    <img alt="selectedPhoto" srcset="{{selectedPhoto?.url}}" />
  </div>
</app-modal>
